automation/n8n/map-release-monitor.json
{
  "name": "MAP Release Monitor",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}},
      "id": "schedule",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://mapdecision.com",
        "options": {"response": {"response": {"fullResponse": true}}, "timeout": 20000}
      },
      "id": "check-site",
      "name": "Check mapdecision.com",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {"id": "status", "leftValue": "={{ $json.statusCode }}", "rightValue": 200, "operator": {"type": "number", "operation": "equals"}}
          ],
          "combinator": "and"
        }
      },
      "id": "healthy",
      "name": "Is production healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 0]
    },
    {
      "parameters": {"jsCode": "return [{json:{status:'healthy',url:'https://mapdecision.com',checkedAt:new Date().toISOString()}}];"},
      "id": "success",
      "name": "Healthy result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -100]
    },
    {
      "parameters": {"jsCode": "throw new Error('MAP Decision production health check failed: https://mapdecision.com');"},
      "id": "failure",
      "name": "Raise deployment alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 100]
    }
  ],
  "connections": {
    "Every 5 minutes": {"main": [[{"node": "Check mapdecision.com", "type": "main", "index": 0}]]},
    "Check mapdecision.com": {"main": [[{"node": "Is production healthy?", "type": "main", "index": 0}]]},
    "Is production healthy?": {"main": [[{"node": "Healthy result", "type": "main", "index": 0}], [{"node": "Raise deployment alert", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "map-release-monitor-v1"
}
